<h1>パスワード管理</h1>
<h3>新規パスワード</h3>
<form [formGroup]="registPasswordForm">
  <div class="card card-block card-header">
    <div class="form-group registItemArea">
      <div class="d-flex flex-row mb-3">
        <div>
          <input id="storageInfoName" class="form-control" placeholder="名称" formControlName="storageInfoName" />
        </div>
        <div>
          <input id="storageInfoPass" class="form-control" placeholder="パスワード" formControlName="storageInfoPass" />
        </div>
        <div class="flex-fill">
          <input id="storageInfoMemo" class="form-control" placeholder="メモ" formControlName="storageInfoMemo" />
        </div>
        <div>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" (click)="registStorageInfo()"
              [disabled]="this.registPasswordForm.invalid">保存</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</form>

<h3>パスワード一覧</h3>
<form [formGroup]="passwordListForm">
  @for (item of passwordListFormGroupArray; track $index) {
    <div class="card card-block card-header">
      <div class="d-flex flex-row mb-3" [formGroup]="item">
        <div class="flex-fill">
          {{item.controls['storageInfoName'].value}}
        </div>
        <div class="flex-fill">
          {{item.controls['storageInfoPass'].value}}
        </div>
        <div class="flex-fill">
          {{item.controls['storageInfoMemo'].value}}
        </div>
        <div>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="getStorageInfoList()">更新</button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button" (click)="getStorageInfoList()">削除</button>
          </span>
        </div>
      </div>
    </div>
    }
</form>
